:root {
  --generic-font: sans-serif;
  --primary-font: "Archivo", sans-serif;
  --generic-white: #FFFFFF;
  --generic-black: #000000;
  --light-col-1: #eeeeee;
  --light-col-2: #f4f4f4;
  --light-col-3: #e6e6e6;
  --light-col-4: #b8b8b8;
  --dark-col-1: #181818;
  --dark-col-2: #4e4e4e;
  --dark-col-3: #3c3c3c;
  --dark-col-4: #656565;
  --green-col: #80d497;
  --purple-col: #8a7ed4;
  --header-text-col-light: var(--light-col-4);
  --header-text-col-dark: var(--dark-col-2);
  --dark-bg-col-1: var(--dark-col-1);
  --light-bg-col-1: var(--light-col-1);
  --light-bg-col-2: var(--light-col-2);
  --text-col-1: var(--dark-col-3);
  --text-col-2: var(--dark-col-4);
  --text-col-3: var(--light-col-1);
  --text-col-4: var(--dark-col-1);
  --text-col-5: var(--purple-col);
  --text-col-6: var(--green-col);
  --input-col-1: var(--light-col-3);
}

/* CUSTOM CSS RESET */
html {
  height: 100%;
  line-height: 1.15;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, a, address, cite, code, em, img, small, form, label, article, aside, canvas, header, nav, main, footer, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  cursor: default;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* ADD CUSTOM STYLES HERE */
a {
  cursor: pointer;
}
a:focus {
  border: 0;
  outline: none;
}
a:link, a:visited, a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input, label, select, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
button:focus, input:focus, label:focus, select:focus, textarea:focus {
  border: none;
  outline: none;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  caret-color: var(--generic-black);
  -webkit-text-fill-color: var(--generic-black);
  -webkit-box-shadow: 0 0 0 40px var(--generic-white) inset !important;
}

[data-hidden=true] {
  display: none;
}

.no-scroll {
  height: 100vh !important;
  overflow: hidden !important;
}

/* Add generic styles here! */
/* CROSS BROWSER SCROLL BAR */
/* The emerging W3C standard that is currently Firefox-only */
*[data-scrollbar=no-scrollbar] {
  scrollbar-width: none;
}
*[data-scrollbar=no-scrollbar]::-webkit-scrollbar {
  width: 0px;
}
*[data-scrollbar=no-scrollbar]::-webkit-scrollbar-track {
  background: transparent;
}
*[data-scrollbar=no-scrollbar]::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--generic-black) var(--generic-white);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--generic-white);
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--generic-black);
  border: 1px solid var(--generic-white);
}

/* Generic body style */
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--generic-black);
  font-family: var(--primary-font);
  background-color: var(--generic-white);
}